@using PersonelApp.Domain
@{ 
    var serializer = new System.Web.Script.Serialization.JavaScriptSerializer();
    var isExit = ViewBag.isExit;
}
@model Personel
    <div class="container" ng-app="myApp" ng-model="myModel">
        <h2>@isExit</h2>
        <button type="button" class="btn btn-danger btn-lg" data-toggle="modal" data-target="#myModal" ng-click="click()">Delete</button>
        <div class="modal fade" id="myModal" role="dialog">
            <div class="modal-dialog modal-dialog-centered" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" id="exampleModalLongTitle">Deleting Alert</h5>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <div class="modal-body">
                        <p>'@Model.Name @Model.Lastname' will gonna be deleting. Are you sure do you want continue</p>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancel</button>
                        <button type="button" class="btn btn-primary" id="myButton" data-dismiss="modal">Delete</button>
                    </div>
                </div>
            </div>
        </div>
        <table>
            <tr>
                <td class="hide">Deneme</td>
                <td>Deneme 2</td>
            </tr>
            <tr>
                
            </tr>
        </table>
        <script src="~/Scripts/jquery-3.3.1.js"></script>
        <script src="~/Scripts/jquery-3.3.1.min.js"></script>
        <script src="~/Scripts/bootstrap.min.js"></script>
        <script type=text/javascript>
            $(document).ready(function () {
                $('#myButton').click(function () {
                var personel = '@Model';
                    $.ajax({
                        url: '/Personel/Delete',
                        type: 'POST',
                        dataType:'@serializer.Serialize(Model)',
                        data: {
                            id: '@Model.Id'
                        }
                    })
                    console.log("okey");
                });
            });
        </script>

    </div>
