@using PersonelApp.Domain
@model IEnumerable<Personel>
@{
    ViewBag.Title = "Index";
    List<SelectListItem> listItems = new List<SelectListItem>();
}
<div>
    <button class="btn btn-info" id="btnCreate">Create New</button>
</div>
<div class="modal fade" id="myModal" role="dialog">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLongTitle">Please fill in the blanks</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <form action="/Index" asp-  method="post" class="form-control-static">
                    <table class="table">
                        <tr>
                            <td> @Html.Label("Name:")</td>
                            <td>  @Html.TextBox("name")</td>
                        </tr>
                        <tr>
                            <td> @Html.Label("Lastname:") </td>
                            <td>@Html.TextBox("lastname")</td>
                        </tr>
                        <tr>

                            <td>@Html.Label("Personel:")</td>
                            <td>@Html.DropDownList("emp")</td>
                        
                        </tr>

                        <tr>>
                        </tr>
                    </table>
                </form>

            </div>
            <div class="modal-footer">
                <button id="save" type="button" class="btn btn-sm btn-success">Save</button>
            </div>
        </div>
    </div>
</div>

<form asp-controller="model" asp-action="Index" method="post">
    <p>
        Title: <input type="text" name="SearchString" id="myTextArea" />
        <input type="submit" value="Filter" />
    </p>
</form>


<table class="table table-hover">
    <tr>
        <th>@Html.DisplayNameFor(model => model.Name)</th>
        <th>@Html.DisplayNameFor(model => model.Lastname)</th>
    </tr>
    @foreach (var theItem in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => theItem.Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => theItem.Lastname)
            </td>
            <td>
                @Html.ActionLink("Edit", "Edit", new { id = theItem.Id }) |
                @Html.ActionLink("Details", "Details", new { id = theItem.Id }) |
                @Html.ActionLink("Delete", "Delete", new { id = theItem.Id, theItem.Lastname })
            </td>
        </tr>
    }
</table>
<script src="~/Scripts/jquery-3.3.1.js"></script>
<script type=text/javascript>
    $(document).ready(function () {
        var name = $('#name');
        var lastname = $('#lastname');
        $('#myText').keyup(function () {
            console.log($('#myText').val());

            $.ajax(
                {
                    url: '/Personel/Index',
                    type: 'POST',
                    dataType: 'JSON',
                    data: { searchString: $('#myText').val() }
                }
            )
            console.log("deneme");
        });
        $('#btnCreate').click(function(){
            $('#myModal').modal('show');
        });
        $('#save').click(function () {
            if (name.val() == "" || lastname.val() == "") {
                alert("Please fill in blank");
                return;
            }

        });
    });
</script>
