@using PersonelApp.Domain
@model IEnumerable<Personel>
@{
    ViewBag.Title = "Index";
}

<div class="container">
    <input class="input-lg" type="text" name="name" value="text" id="myText" />
    <button class="btn-lg">Search</button>
    @Html.TextBox("text1")

</div>

<p>
    <a asp-action="Create">Create New</a>
</p>

<form asp-controller="model" asp-action="Index" method="post">
    <p>
        Title: <input type="text" name="SearchString" id="myTextArea" />
        <input type="submit" value="Filter" />
    </p>
</form>

<table class="table table-hover">
    <tr>
        <th>@Html.DisplayNameFor(model => model.Name)</th>
        <th>@Html.DisplayNameFor(model => model.Lastname)</th>
    </tr>
    @foreach (var theItem in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => theItem.Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => theItem.Lastname)
            </td>
            <td>
                @Html.ActionLink("Edit", "FilterKeyword", new { id = theItem.Id }) |
                @Html.ActionLink("Details", "Details", new { id = theItem.Id }) |
                @Html.ActionLink("Delete", "Delete", new { id = theItem.Id })
            </td>
        </tr>
    }
</table>
<script src="~/Scripts/jquery-3.3.1.js"></script>
<script type=text/javascript>
    $(document).ready(function () {
        $('#myText').keyup(function () {
            val myArea = $('#myText').val();
            console.log(myArea);
            $.ajax(
                {
                    url: '/Personel/Index',
                    type: 'POST',
                    dataType: 'JSON',

                }
            )
        });
    });
</script>
